<div class='container'>
  <h2><%= @task.title %></h2>
  <p><%= @task.details %></p>
  <p><%= @task.completed %></p>
  <p><%= link_to 'Edit', edit_task_path, class:'text-decoration-none' %></p>
  <p><%= link_to 'Delete',
    task_path(@task),
    data: {turbo_method: :delete,turbo_confirm: 'Are you sure???'}, class:'text-decoration-none' %></p>
  <p><%= link_to 'Home Page!', tasks_path, class:'text-decoration-none' %></p>
</div>
